/**
* @author   André van Toly
* @since    May 2009
* @name     Stylesheet to style OIPlayer and its controls
* @version  '$Id$'
*/

div.oiplayer
{
	position: relative;
	margin: 0;
	padding: 0;
}

div.oiplayer audio,
div.oiplayer video,
div.oiplayer object,
div.oiplayer embed
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

div.oiplayer > div.player
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
}

div.oiplayer > div.controls
{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	z-index: 19;
	margin: 0;
	padding: 0;
}

div.oiplayer > div.player > audio
{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;        /* not sure about this */
}

div.oiplayer > .preview
{
    position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	cursor: pointer;
}
div.oiplayer > img.preview { }
div.oiplayer > div.preview.video { background: url(images/preview_video.png) left top repeat; }
div.oiplayer > div.preview.audio { background: url(images/preview_audio.png) left top repeat; }

div.oiplayer.audio, #msie_cortadoplayer_oiplayer
{
/*
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 8;
*/
}

/* controls */
div.oiplayer ul.controls
{
	margin: 0;
	padding: 0;
	height: 23px;
	list-style: none;
	display: inline;
	overflow: hidden;
}

div.oiplayer ul.controls li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

div.oiplayer ul.controls a
{
	padding: 23px 0 0 0;
	overflow: hidden;
	height: 0 !important;
    height /**/: 23px;  /* for IE5/Win */
}

div.oiplayer ul.controls a:hover { background-position: 0 -25px; }

div.oiplayer ul.controls li.play a
{
	background-image: url(images/controls-play.png);
	width: 21px;
	margin-left: 2px;
	float: left;
}

div.oiplayer ul.controls li.play.pause a
{
	background-image: url(images/controls-pause.png);
	width: 21px;
	margin-left: 2px;
	float: left;
}

div.oiplayer ul.controls li.position,
div.oiplayer ul.controls li.timeleft
{
	float: left;
	font-family: Monaco, Courier, monospaced;
	font-size: 10px;
	line-height: 26px;
	color: #555;
	text-align: right;
	font-weight: normal;
}
div.oiplayer ul.controls li.position
{
	margin: 0 5px;
	width: 32px;
}
div.oiplayer ul.controls li.timeleft
{
	margin-left: 5px;
	width: 36px;
}

div.oiplayer ul.controls li.sound a
{
	float: right;
	background-image: url(images/controls-soundon.png);
	background-repeat: no-repeat;
	width: 23px;
	margin: 0 5px;
}

div.oiplayer ul.controls li.sound.muted a
{
	float: right;
	background-image: url(images/controls-soundoff.png);
	background-repeat: no-repeat;
	width: 23px;
	margin-left: 5px;
}

div.oiplayer ul.controls li.screen a
{
	float: right;
	background-image: url(images/controls-fullscreen.png);
	background-repeat: no-repeat;
	width: 23px;
	margin-left: 5px;
}

div.oiplayer div.oiplayerinfo
{
	font-size: xx-small;
	margin-top: 4px;
	background-color: #efefef;
}

/* ### slider, jquery-ui etc. ### */
div.oiplayer div.controls li.slider
{
	float: left;
    margin-left: 0px;
	background: url(images/slider11-left.png) left -50px no-repeat;
	padding-left: 9px;
}

div.oiplayer div.controls li.slider div.slider div.ui-slider
{
	border: 0;
	width: 100%;
	background: url(images/slider11-long.png) right -25px no-repeat;
	height: 25px;
}

div.oiplayer div.controls .ui-slider { position: relative; }
div.oiplayer div.controls .ui-slider-horizontal .ui-slider-handle { top: 0; }

div.oiplayer div.controls .ui-slider .ui-slider-handle
{
	cursor: pointer;
	height: 25px;
	position: absolute;
	width: 14px;
	z-index: 2;
}
div.oiplayer div.controls a.ui-slider-handle:hover { background-position: 0 -100px; }

div.oiplayer div.controls li.slider div.ui-slider-range
{
	height: 25px;
	background: url(images/slider11-long.png) right -50px no-repeat;
}

div.oiplayer div.controls .ui-state-default, 
div.oiplayer .ui-widget-content .ui-state-default
{
	border: 0;
	background-color: transparent;
	background: url(images/slider11-pos.png) left -75px no-repeat;
	margin-left: -9px;
}
div.oiplayer div.controls li.changed a.ui-slider-handle:hover { background-position: 0 -100px; }

div.oiplayer div.controls li.changed .ui-state-default, 
div.oiplayer div.controls li.changed .ui-widget-content .ui-state-default { background: url(images/slider11-pos.png) left -75px no-repeat; }

div.oiplayer div.controls .ui-state-default:focus, 
div.oiplayer div.controls .ui-widget-content .ui-state-default:focus { outline: none; } 

/* top */
div.oiplayer > div.controls.top
{
	background-image: url(images/controls-whitie.png);
	background-repeat: repeat;
}

/* white */
div.oiplayer > div.controls.white {	background-image: url(images/controls-whitie.png); }

/* dark (only possible with top really) */
div.oiplayer div.controls.dark { background-image: url(images/controls-blackbg.png); }
div.oiplayer div.controls.dark li.position,
div.oiplayer div.controls.dark li.timeleft { color: #fff; }

div.oiplayer div.controls.dark a { background-position: 0 -50px; }
div.oiplayer div.controls.dark a:hover { background-position: 0 0; }

div.oiplayer div.controls.dark li.slider { background: url(images/slider11-left.png) left -50px no-repeat; }
div.oiplayer div.controls.dark li.slider div.slider div.ui-slider { background: url(images/slider11-long.png) right -0px no-repeat; }

div.oiplayer div.controls.dark li.slider div.ui-slider-range { background: url(images/slider11-long.png) right -50px no-repeat; }

div.oiplayer div.controls.dark a.ui-slider-handle { background: url(images/slider11-pos.png) left -75px no-repeat; }
div.oiplayer div.controls.dark a.ui-slider-handle:hover { background-position: 0 -100px; }
div.oiplayer div.controls.dark li.changed a.ui-slider-handle:hover { background-position: 0 -100px; }
div.oiplayer div.controls.dark li.changed .ui-state-default,
div.oiplayer div.controls.dark li.changed .ui-widget-content .ui-state-default { background-position: left -75px; }

div.oiplayer > div.controls.top ul.controls li.sound a, 
div.oiplayer > div.controls.top ul.controls li.sound.muted a { margin-right: 8px; }

/* ### fullscreen ### */
div#oiplayer-fullscreen
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 109;
	width: 100%;
	height: 100%;
}

div#oiplayer-fullscreen > div.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 800px;
	/*background-color: #333;*/
	background-image: url(images/controls-blackbg.png);
	background-repeat: repeat;
}

div#oiplayer-fullscreen > div.oiplayer
{
	position: fixed;
	top: 0;
	z-index: 120;
}
div#oiplayer-fullscreen > div.oiplayer > img.preview
{
	margin: 0 auto;
	z-index: 121;
}
div#oiplayer-fullscreen > div.oiplayer > div.player
{
	margin: 0 auto;
	z-index: 120;
}
div#oiplayer-fullscreen > div.oiplayer > div.controls
{
	margin: 0 auto;
	z-index: 122;
}

/* ### inavailable / no compatible sources ### */
div.oiplayer.video.inavailable { background: url(images/preview_video.png) left top repeat; }
div.oiplayer.audio.inavailable { background: url(images/preview_audio.png) left top repeat; }
div.oiplayer.inavailable div.player { display: none; }
div.oiplayer.inavailable p
{
	width: 80%;
	text-align: center;
	font-size: 1.4em;
	margin: 0 auto;
	padding-top: 32%;
	font-weight: bold;
}

/* ### example html ### */
body.oiplayer-example
{
	font-size: 0.85em;
	font-family: Helvetica, sans-serif;
	background-color: #efefef;
	line-height: 1.4em;
}

body.oiplayer-example a:link { color: #c00; }
body.oiplayer-example a:visited { color: #333; }
body.oiplayer-example a:hover, body.oiplayer-example a:active
{
	color: #c00;
	text-decoration: underline;
}

body.oiplayer-example > div.main
{
	width: 640px;
	margin: 0 auto;
	background-color: #fff;
	padding: 1px 1em;
}

body.oiplayer-example > div.main ol { padding-left: 20px; }
body.oiplayer-example > div.main p.license { font-size: 0.85em; }


/* MSIE Java plugin detection, sigh :-( */
#clientcaps
{
	behavior: url(#default#clientCaps);
	display: none;
}
