.oipcontrols {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 19;
  background-color: silver;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .fullscreen & {
    z-index: 1003;
    margin: 0 auto;
  }

  &.top {
    margin: auto auto 10px auto;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }

  .controls {
    color: #1a1a1a;
    margin: 0;
    padding: 0 0.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    gap: 0.5rem;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      width: $button-size;
      height: $button-size;

      &:hover {
        color: rgba(96, 96, 96, 1);
      }

      > span {
        display: none;
      }
    }

    .play > button {
      @include icon("play");

      &[data-button-play="playing"] {
        @include icon("pause");
      }
    }

    .screen > button {
      @include icon("fullscreen");
    }

    .time,
    .timeleft {
      font: 400 0.8rem/1 Monaco, "Courier New", monospaced;
      text-align: center;
    }

    .progress {
      position: relative;
      flex-grow: 1;
      height: $slider-height;
      margin: 0 0.5rem;

      .bar {
        pointer-events: none;
        height: $slider-height;
        border-radius: $slider-border-radius;
        position: absolute;
        left: 0;
        top: 0;

        &.back {
          z-index: 1;
          cursor: pointer;
          pointer-events: all;
          background-color: rgba(255, 255, 255, 1);
          width: 100%;
        }

        &.loaded {
          z-index: 2;
          background-color: rgba(204, 204, 204, 1);
          min-width: $slider-height;
        }

        &.played {
          z-index: 3;
          background-color: rgba(24, 24, 24, 0.8);
          min-width: $slider-height;
        }

        &.push {
          z-index: 4;
          background-color: transparent;
          min-width: $slider-height;

          display: flex;
          align-items: center;
          justify-content: end;

          .pos {
            display: block;
            width: $slider-height;
            height: $slider-height;
            border-radius: $slider-border-radius;
            background-color: #1a1a1a;
            // transform: translateX(-#{$slider-height / 2});
          }
        }
      }
    }

    .sound {
      > button {
        @include icon("sound");

        &[data-button-volume="muted"] {
          @include icon("mute");
        }
      }
    }
  }

  // &.audio {
  //   .progress {
  //     right: 100px;
  //   }

  //   .timeleft {
  //     right: 30px;
  //   }
  // }

  //   .sound {
  //     a {
  //       width: 22px;
  //       color: rgba(128, 128, 128, 1);
  //       @include icon("sound");

  //       &:before {
  //         font-size: 16px;
  //       }

  //       &:hover {
  //         color: rgba(96, 96, 96, 1);
  //       }
  //     }

  //     &.muted {
  //       a {
  //         @include icon("mute");
  //         &:before {
  //           font-size: 16px;
  //         }
  //       }
  //     }

  //     > .volume {
  //       width: 12px;
  //       height: 60px;
  //       position: relative;
  //       top: -6px;
  //       left: 6px;

  //       /* container for the volume slider */
  //       .slider {
  //         width: 100%;
  //         height: 100%;
  //         background-color: #808080;
  //         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  //         /* by default does not register for pointer events
  //                  so that only the VOL label acts as a hover trigger */
  //         pointer-events: none;
  //         /* volume slider is invisible by default */
  //         opacity: 0;
  //         transform: translateY(0);
  //         /* set up the opacity transition */
  //         transition-property: opacity, transform;
  //         transition-duration: 0.25s;
  //       }
  //     }
  //   }

  //   /* matches the slider when the volume button is hovered */
  //   div.sound:hover > div.volume .slider,
  //   div.sound a:hover > div.volume .slider,
  //   .volume:hover .slider {
  //     /* turn pointer events back on so that we now only
  //          hide the slider when we exit the VOL label or the slider */
  //     pointer-events: auto;
  //     /* show the slider */
  //     opacity: 1;
  //     transform: translateY(-50px);

  //     .fill {
  //       height: 100%;
  //       background-color: #333;
  //     }

  //     .thumb > div {
  //       position: absolute;
  //       top: 0;
  //       margin-top: -6px;
  //       left: -6px;
  //       width: 24px;
  //       height: 12px;
  //       background-color: #cccccc;
  //       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);

  //       &:hover {
  //         background-color: #eaeaea;
  //       }
  //     }
  //   }

  /* ### progress bar & position ### */
  //   .prgress {
  //     position: relative;
  //     height: $button-size;
  //     width: 100%;

  //     .oiprogress {
  //       background-color: rgba(166, 166, 166, 1);
  //       border-radius: $slider-border-radius;
  //       height: $slider-height;
  //       width: 100%;

  //       position: absolute;
  //       top: 10px;
  //       left: 5px;
  //       pointer-events: none;
  //     }

  //     .pos {
  //       position: absolute;
  //       width: $slider-height;
  //       height: $slider-height;

  //       span {
  //         float: left;
  //         background-color: rgba(128, 128, 128, 1);
  //         border-radius: $slider-border-radius;
  //         margin: 0 0 0 -3px;
  //         height: $slider-height;
  //         width: $slider-height;

  //         &:hover {
  //           background-color: rgba(96, 96, 96, 1);
  //         }
  //       }
  //     }

  //     .oiprogress-container {
  //       position: absolute;
  //       left: 0;
  //       right: 6px;
  //       width: 100%;

  //       .oiprogress-push {
  //         position: absolute;
  //         height: $slider-height;
  //         // pointer-events: auto;
  //       }
  //     }
  //   }

  //   &.dark {
  //     color: #efefef;
  //     background-color: rgba(0, 0, 0, 0.85);

  //     .play,
  //     .screen,
  //     .sound {
  //       a {
  //         color: white;

  //         &:hover {
  //           color: rgba(166, 166, 166, 1);
  //         }
  //       }
  //     }

  //     .pos {
  //       a {
  //         background-color: rgba(96, 96, 96, 1);

  //         &:hover {
  //           background-color: rgba(48, 48, 48, 1);
  //         }
  //       }
  //     }
  //     .progress.changed .oiprogress {
  //       background-color: rgba(166, 166, 166, 1);
  //     }
  //     .back {
  //       background-color: rgba(255, 255, 255, 1);
  //     }
  //     .loaded {
  //       background-color: rgba(204, 204, 204, 1);
  //     }
  //     .played {
  //       background-color: rgba(166, 166, 166, 1);
  //     }
  //   }

  //   &.ios {
  //     position: relative;
  //     margin: 0;
  //     padding: 0;

  //     /* on iOS sound (iPad) or screen (iPhone) are hidden */
  //     .progress {
  //       right: 100px;
  //     }
  //     .timeleft {
  //       right: 30px;
  //     }
  //     .screen {
  //       right: 6px;
  //     }

  //     /* ios: bit different color scheme */
  //     .back {
  //       //background: url("@{image-path}/slider11-long.png") right -25px no-repeat;
  //       background-color: rgba(204, 204, 204, 1);
  //     }
  //     .loaded {
  //       //background: url("@{image-path}/slider11-long.png") right -50px no-repeat;
  //       background-color: rgba(166, 166, 166, 1);
  //     }
  //     .played {
  //       //background: url("@{image-path}/slider11-long.png") right -75px no-repeat;
  //       background-color: rgba(128, 128, 128, 1);
  //     }
  //     &.dark {
  //       .back {
  //         //background: url("@{image-path}/slider11-long.png") right 0 no-repeat;
  //         background-color: rgba(255, 255, 255, 1);
  //       }
  //       .loaded {
  //         //background: url("@{image-path}/slider11-long.png") right -25px no-repeat;
  //         background-color: rgba(204, 204, 204, 1);
  //       }
  //       .played {
  //         //background: url("@{image-path}/slider11-long.png") right -50px no-repeat;
  //         background-color: rgba(166, 166, 166, 1);
  //       }
  //     }
  //   }
}
