/**
 * @author   André van Toly
 * @since    May 2009
 * @name     Stylesheet, scss version, to style OIPlayer and its controls
 */

@import "icons";

figure.oiplayer {
  $image-path: "images";

  --oiplayer-color: #808080;
  --oiplayer-color-hover: #606060;
  --oiplayer-border-radius: 0.2rem;
  --oiplayer-box-shadow: 0.1rem 0.35rem 0.6rem rgba(0, 0, 0, 0.5);
  --oiplayer-background-color: #ddd;
  --oiplayer-background-color-top: rgba(255, 255, 255, 0.9);

  --oiplayer-button-size: 2rem;
  --oiplayer-font-size: 1rem;
  --oiplayer-bar-height: 0.75rem;
  --oiplayer-bar-border-radius: 0.6rem;

  --oiplayer-bar-background-color: #ffffff;
  --oiplayer-loaded-background-color: #cccccc;
  --oiplayer-played-background-color: #a6a6a6;
  --oiplayer-played-position-color: #808080;

  --oiplayer-figure-background-color: rgba(0, 0, 0, 0.85);

  &.dark {
    --oiplayer-color: whitesmoke;
    --oiplayer-color-hover: #555;
    --oiplayer-background-color: #1a1a1a;
    --oiplayer-background-color-top: rgba(0, 0, 0, 0.85);

    --oiplayer-bar-background-color: whitesmoke;
    --oiplayer-loaded-background-color: #cccccc;
    --oiplayer-played-background-color: #a6a6a6;
    --oiplayer-player-position-color: #1a1a1a;
  }

  // Set the base box-sizing that will be inherited by all other elements
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a:focus {
    outline: none;
    background-color: transparent;
  }

  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font: 400 1rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--oiplayer-font-size, 1rem);
  background-color: var(--oiplayer-figure-background-color);
  height: var(--oiplayer-height, auto);
  width: var(--oiplayer-width, auto);

  @import "controls.scss";

  &.audio {
    .oipcontrols {
      bottom: 0;

      .screen {
        display: none;
      }
    }
  }

  &.top {
    overflow: hidden;

    .oipcontrols {
      bottom: 0;
      left: 0;
      background-color: var(--oiplayer-background-color-top);
      border-radius: var(--oiplayer-border-radius);
      box-shadow: var(--oiplayer-box-shadow);
      margin: 0 1rem 1rem 1rem;
      width: calc(100% - 2rem);
      transition: opacity 0.35s, transform 0.35s;

      &[data-show="show"] {
        opacity: 1;
        transform: translateY(0);
      }

      &[data-show="hidden"] {
        // wait part of a second
        transition-delay: 0.75s;
        opacity: 0;
        transform: translateY(3rem);
      }
    }
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;

    &[data-preview="hidden"] {
      display: none;
    }
  }

  &:fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 100%;
    height: 100%;
    background-color: transparent;

    video {
      width: 100%;
      height: 100%;
    }

    .oipcontrols {
      position: static;
      margin: 0 auto;
      max-width: 80%;
    }

    .preview,
    figcaption {
      display: none;
    }
  }

  &.inavailable {
    // &.video {
    //   // background: url($image-path"/preview_video.png") left top repeat;
    // }
    // &.audio {
    //   // background: url($image-path"/preview_audio.png") left top repeat;
    // }
    figure.player {
      display: none;
    }

    p {
      width: 80%;
      text-align: center;
      font-size: 1.4em;
      margin: 0 auto;
      padding-top: 32%;
      font-weight: bold;
    }
  }
}

.oiplayerinfo {
  font-size: xx-small;
  padding: 2px;
  background-color: #efefef;
  color: black;
  z-index: 99;
  border-top: 1px solid #bbb;
  font-family: Monaco, "Courier New", monospaced;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;

  &.bottom {
    position: static;
    margin-top: 32px;
  }
}

/* MSIE Java plugin detection, sigh :-( */
#clientcaps {
  behavior: url(#default#clientCaps);
  display: none;
}

/* ### example html ### */
body.oiplayer-example {
  font: 400 1rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  line-height: 1.4em;

  a {
    color: #c00;
  }
  a:visited {
    color: #333;
  }
  a:hover,
  a:active {
    color: #c00;
    text-decoration: underline;
  }
  > div.main {
    width: 640px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1px 1em;

    ol {
      padding-left: 20px;
    }
  }

  .license {
    display: block;
    font: 400 1rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
