/**
 * @author   André van Toly
 * @since    May 2009
 * @name     Stylesheet, scss version, to style OIPlayer and its controls
 */

@import "icons";

.oiplayer {
  $image-path: "images";
  $button-size: 3rem;
  $slider-height: 1rem;
  $slider-border-radius: 0.6rem;

  --oiplayer-color: #808080;
  --oiplayer-color-hover: #606060;
  --oiplayer-border-radius: 0.2rem;
  --oiplayer-box-shadow: 0rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
  --oiplayer-background-color: #ddd;
  --oiplayer-background-color-top: rgba(255, 255, 255, 0.85);
  --oiplayer-bar-background-color: #ffffff;
  --oiplayer-loaded-background-color: #cccccc;
  --oiplayer-played-background-color: #a6a6a6;
  --oiplayer-figure-background-color: rgba(0, 0, 0, 0.85);

  // Set the base box-sizing that will be inherited by all other elements
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a:focus {
    outline: none;
    background-color: transparent;
  }

  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--oiplayer-figure-background-color);

  @import "controls.scss";

  &.top {
    overflow: hidden;

    .oipcontrols {
      bottom: 0;
      left: 0;
      background-color: var(--oiplayer-background-color-top);
      border-radius: var(--oiplayer-border-radius);
      box-shadow: var(--oiplayer-box-shadow);
      margin: 0 2rem 1rem 2rem;
      width: calc(100% - 4rem);
      transition: opacity 0.35s, transform 0.35s;

      &[data-show="show"] {
        opacity: 1;
        transform: translateY(0);
      }

      &[data-show="hidden"] {
        opacity: 0;
        transform: translateY(3rem);
        transition-delay: 0.5s;
      }
    }
  }

  &:fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 100%;
    height: 100%;
    background-color: transparent;

    video {
      width: 100%;
      height: 100%;
    }

    .oipcontrols {
      position: static;
      margin: 0 auto;
      max-width: 80%;
    }

    figcaption {
      display: none;
    }
  }

  // video,
  // object,
  // embed {
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  // }

  // audio {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   width: 100%; /* not sure about this */
  // }

  // .player {
  //   margin: 0;
  //   padding: 0;
  //   z-index: 10;

  //   .audio & {
  //     bottom: 0;
  //   }
  // }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    cursor: pointer;
  }

  &.inavailable {
    // &.video {
    //   // background: url($image-path"/preview_video.png") left top repeat;
    // }
    // &.audio {
    //   // background: url($image-path"/preview_audio.png") left top repeat;
    // }
    figure.player {
      display: none;
    }

    p {
      width: 80%;
      text-align: center;
      font-size: 1.4em;
      margin: 0 auto;
      padding-top: 32%;
      font-weight: bold;
    }
  }
}

.oiplayerinfo {
  font-size: xx-small;
  padding: 2px;
  background-color: #efefef;
  color: black;
  z-index: 99;
  border-top: 1px solid #bbb;
  font-family: Monaco, "Courier New", monospaced;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;

  &.bottom {
    position: static;
    margin-top: 32px;
  }
}

/* MSIE Java plugin detection, sigh :-( */
#clientcaps {
  behavior: url(#default#clientCaps);
  display: none;
}

/* ### example html ### */
body.oiplayer-example {
  font-size: 0.85em;
  font-family: Helvetica, sans-serif;
  background-color: #efefef;
  line-height: 1.4em;

  a {
    color: #c00;
  }
  a:visited {
    color: #333;
  }
  a:hover,
  a:active {
    color: #c00;
    text-decoration: underline;
  }
  > div.main {
    width: 640px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1px 1em;

    ol {
      padding-left: 20px;
    }
  }

  .license {
    font: 400 1rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
