/**
 * @author   André van Toly
 * @since    May 2009
 * @name     Stylesheet, scss version, to style OIPlayer and its controls
 */

/* webfont with icons */
@import "icons";

$image-path: "images";
$button-size: 32px;
$slider-height: 12px;
$slider-border-radius: 6px;

.oiplayer {
  // Set the base box-sizing that will be inherited by all other elements
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a:focus {
    outline: none;
    background-color: transparent;
  }

  // Add cross-browser antialiasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @import 'controls.scss';

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #000;

    .player {
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 1001;

      video,
      object,
      embed {
        z-index: 1002;
      }
    }
  }

  // video,
  // object,
  // embed {
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   border: 0;
  // }

  // audio {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   display: block;
  //   margin: 0;
  //   padding: 0;
  //   width: 100%; /* not sure about this */
  // }

  // .player {
  //   margin: 0;
  //   padding: 0;
  //   z-index: 10;

  //   .audio & {
  //     bottom: 0;
  //   }
  // }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    cursor: pointer;
  }

  &.inavailable {
    // &.video {
    //   // background: url($image-path"/preview_video.png") left top repeat;
    // }
    // &.audio {
    //   // background: url($image-path"/preview_audio.png") left top repeat;
    // }
    figure.player {
      display: none;
    }

    p {
      width: 80%;
      text-align: center;
      font-size: 1.4em;
      margin: 0 auto;
      padding-top: 32%;
      font-weight: bold;
    }
  }
}

.oiplayerinfo {
  font-size: xx-small;
  padding: 2px;
  background-color: #efefef;
  color: black;
  z-index: 99;
  border-top: 1px solid #bbb;
  font-family: Monaco, "Courier New", monospaced;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;

  &.bottom {
    position: static;
    margin-top: 32px;
  }
}

/* MSIE Java plugin detection, sigh :-( */
#clientcaps {
  behavior: url(#default#clientCaps);
  display: none;
}

/* ### example html ### */
body.oiplayer-example {
  font-size: 0.85em;
  font-family: Helvetica, sans-serif;
  background-color: #efefef;
  line-height: 1.4em;

  a {
    color: #c00;
  }
  a:visited {
    color: #333;
  }
  a:hover,
  a:active {
    color: #c00;
    text-decoration: underline;
  }
  > div.main {
    width: 640px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1px 1em;

    ol {
      padding-left: 20px;
    }
    .license {
      font-size: 0.8em;
    }
  }
}
